<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      .map {
        height: 750px;
        width: 100%;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
    <title>OpenLayers example</title>
  </head>
  <body>
    <div class="row">
        <div class="col-4">
            <h2>{{ title }}</h2>
            {% for entry in all_entries %}
            <p>{{ entry.x }}, {{ entry.y }}</p>
            {% endfor %}
        </div>
        <div id="map" class="map col-8"></div>
    </div>
    <script type="text/javascript">
      var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([37.41, 8.82]),
          zoom: 4
        })
      });
        function getCookie(name) {
            var v = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
            return v ? v[2] : null;
        }
        map.on('click', function(evt){
            fetch('http://localhost:8000/map/coordinate', {
            method: 'post',
            credentials: "include",
            headers: {
                "Content-type": "applications/json",
                "X-CSRFToken": getCookie("csrftoken")
            },
            body: JSON.stringify({
                "latitude": evt.coordinate[0], "longitude": evt.coordinate[1]
            })
            })
            location.reload();
        });
    </script>
  </body>
</html>